.TicTacToe {

    background:whitesmoke;
  }

  .block {
    display: flex;
    width: 100px;
    height: 100px;
    align-items: center;
    justify-content: center;
    font-size: 100px;
    font-weight: bold;
    border: 3px solid black;
  }


  .playboard {
    width: 300px;
    height: 300px;
    display: grid;
    grid-template-columns: auto auto auto;
  }

  button {
    border: 4px solid red;
    padding: 10px 20px;
    font-size: 15px;
    font-weight: bold;
 }

  button:hover {
    cursor: pointer;
    background: red;
    color: white;
  }